<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.blueberry.ui.views">

    <view id="upenn.cbica.captk.views.example2"
      name="Example 2"
      category="Workshop"
      icon="resources/icon2.svg"
      class="QmitkCaPTkExample2View" />

  </extension>
  
</plugin>
